*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'open sans', sans-serif;
}

.background{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}


.header{
    color: white;
    position: relative;
}


.alto-destra{
    position: absolute;
    top: 0;
    right: 0;
}




.container{
    height:100vh;
    width: 90%;
    max-width:1800px; 
    margin:0 auto;
    margin: 60px 70px 30px;
    overflow-y: scroll;
    display: flex;
}


.immagini{
    display: flex;
    flex-wrap: wrap; 
    position: relative;  
}

.webcam{
    aspect-ratio: 16/9;
    flex-basis: 240px;
    position: relative;
}


figure{
    width: calc(100% / 7);
}

.webcam img{
    width:100%;
    height: 100%; 
    padding: 3px;
    object-fit: cover;
    object-position: center;
}

.webcam .name{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0,2);
    color: white;
}

























/* FOOTER */
.footer{
    min-height: 84px;
    background-color:#4a4a4a;
}

.micro-video{
    display: flex;
    align-items:flex-start;
}

.foot-center{
    display: flex;
    justify-content: center;
}

.foot-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bottone{
     background-color: black;
     color: red;
     padding: 0 24px;
}